/*Slide 1*/
#slide1{
    background-image: url(/EC/public/images/shopping.png);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    height: 410px;
}
.about-para{
    position: relative;
    margin: auto;
    width: 55%;
    top: 35%;
    padding: 20px;
    background-color: rgb(253,173,212);
    opacity: 0.7;
    border-radius: 30px;
    cursor: pointer;
}
.about-para:hover{
    opacity: 0.6;
}
.about-para .about-para-content{
    opacity: 1;
}
.about-para .about-para-content h3{
    font-size: 30px;
    font-family: monospace;
    text-align: center;
}

/*Slide 2*/
.about-us-contain{
    width: 70%;
    margin:auto;
}
#slide2{
    background-color: white;
    padding: 30px 0;
}
.about-us-contain .about-title{
    font-family: cursive;
    font-size: 30px;
    color: rgb(108,53,50);
    text-align: center;
    margin: 0 0 20px 0;
}
.about-us-contain .about-us-info{
    text-align: center;
}
.about-us-contain .about-us-info .btn-joinus{
    width: 130px;
    height: 40px;
    font-size: 18px;
}
.about-us-contain .about-us-info .btn-joinus:focus{
    outline: none;
}
.about-us-contain .about-us-info .about-us-para{
    font-family: monospace;
    color: rgb(186,163,102);
    text-align: justify;
    font-size: 18px;
}
.about-us-contain .about-us-info .fullsize-pic{
    width: 100%;
    height: 150px;
    border-radius: 10px
}
.about-us-contain .about-us-info .halfsize-pic{
    width: 50%;
    height: 160px;
    margin: 10px 0;
    float: left;
    border-radius: 10px
}

/*Slide 3*/
/*Start FadeInUp*/
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*End FadeInUp*/
#slide3{
    background-image: url('/EC/public/images/bg-contact05.jpg');
    background-size: cover;
   /* background-repeat: no-repeat;*/
    padding: 10px 0;
}
.contact-us{
    width: 70%;
    margin: auto;
}
.contact-us h2{
    font-family: cursive;
    color: darkolivegreen;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}
.contact-us form{
    text-align: center;
}
.contact-us .contact-us-info table{
    width: 100%;
}
.contact-us .contact-us-info table tr{
    height: 40px;
}
.contact-us .contact-us-info table tr td{
    font-family: cursive;
    color: darkgreen;
    font-size: 18px;
}
.contact-us .contact-us-info table tr td input{
    width: 100%;
}
#contact-content{
    width: 97%;
    height: 100px;
    float: right;
}
.btn-submit{
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-family: Helvetica;
    background-color: rgb(68,157,68);
    margin: 20px 0;
}

/*Slide 4*/
#slide4{
    
}
.members{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}
.members .member-title{
    font-family: cursive;
    font-size: 30px;
    color: rgb(108,53,50);
    text-align: center;
}
.my-swiper{
    height: 470px !important;
}

@media (max-width: 992px){
   .about-para{
        top: 30%;
   }
    .about-us-contain{
        width: 90%;
    }
    .contact-us{
        width: 90%;
    }
    .members{
        width: 100%;
    }
}
@media (max-width: 768px){
    #slide1{
        height: 250px;
    }
   .about-para .about-para-content p{
        font-size: 25px;
   }
    .about-us-contain .about-title{
        font-size: 20px;
    }
    .about-us-contain .about-us-info .about-us-para{
        font-size: 14px;
    }
    .about-us-contain .about-us-info .halfsize-pic{
        height: 120px;
    }
    .about-us-contain .about-us-info .btn-joinus {
        width: 110px;
        height: 40px;
        font-size: 14px;
    }
    .contact-us p{
        font-size: 20px;
    }
    .contact-us .contact-us-info table tr td{
        font-size: 14px;
    }
    .btn-submit {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
    .members{
        padding: 30px 0;
    }
    .members .member-title{
        font-size: 20px;
    }
    .member-info .member-name{
        font-size: 16px;
    }
    .member-info .member-quote{
        font-style: 14px;
    }
}
@media(max-width: 992px){
    #slide1{
        background-position-y: 0;
    }
}
@media (max-width: 600px){
    #slide1{
        height: 230px;
    }
}
@media (max-width: 500px){
    #slide1{
        height: 200px;
    }
}
@media (max-width: 400px){
    #slide1{
        height: 100px;
    }
    .contact-us{
        width: 100%;
    }
    .members{
        width: 100%;
    }
}