.ratio-auction-para{
    font-family: baihoc;
    font-size: 18px;
}
.ratio-auction{
	color: rgb(236,16,106);
    font-size: 30px;
}
#mytable tbody tr td a {
    text-decoration: none;
    color: rgb(236,16,106);
}