.nonedeco:hover{
	text-decoration: none;
}
.auction-product{
	text-align: center;
	margin-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
	/*height: 492px;*/
}
.auction-product:hover{
	border: 1px solid #ccc;
}
.auction-product img{
	width: 100%;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
}
.auction-product .product-name{
    font-family: bale;
    font-size: 25px;
    color: #23527c;
    margin: 10px;
}
.auction-product .product-time{
	font-size: 30px;
}
.auction-product .currentbid{
    font-family: cursive;
    font-size: 15px;
}
.auction-product .inp-bid{
	text-align: center;
	height: 35px;
	width: 90%;
}
.btn-auction{
	margin: 10px 0;
    width: 100px;
    height: 40px;
    background-color: rgb(236,16,106);
    border: none;
}
.btn-auction:hover{
	border: 2px solid rgb(195,4,82);
	color: rgb(236,16,106);
	background-color: white;
}
.btn-acution:focus{
	outline: none;
	background: rgb(236,16,106);
	border: none;
	color: white;
}
.btn-auction:active:focus{
	outline: none;
	background: rgb(236,16,106);
	border: none;
	color: white;
}
.btn-primary.focus, .btn-primary:focus{
	outline: none;
	background: rgb(236,16,106);
	border: none;
	color: white;
}
#t .cr td{
	text-align: center;
    font-family: cursive;
    font-size: 18px;
    color: #23527c !important;
}
#t .cl td {
    text-align: center;
    font-size: 12px;
    font-family: cursive;
    color: #23527c !important;
}
@media (max-width: 992px){
	.auction-product:hover{
		border: none;
	}
}