#mytable{
	width: 100%;
}
#mytable tr{
	cursor: pointer;
}
#mytable tr th{
	font-family: cursive;
    font-size: 18px;
}
#mytable tr td img{
    height: 50px;
    border-radius: 6px;
}
#mytable tr td img:hover{
	transform: scale(4);
}
#mytable tr td{
	vertical-align: middle;
    font-family: cursive;
    font-size: 17px;
}
#mytable tr td.winner{
	font-family: cursive;
    font-size: 18px;
    color: #23527c;
}

@media(max-width: 400px){
	#mytable tr td img{
		width: 40px;
	}
	#mytable tr th{
		font-size: 12px;
	}
	#mytable tr td{
		font-size: 12px;
	}
	#mytable tr td.winner{
		font-size: 12px;
	}
	.mypage li a{
		font-size: 12px;
	}
}