@font-face{
	font-family: banhmi;
	src: url("/EC/public/fonts/UVNBanhMi.TTF");
}
@font-face{
	font-family: victoria;
	src: url("/EC/public/fonts/victoria.ttf");
}
@font-face{
	font-family: bale;
	src: url("/EC/public/fonts/UVNBaLe.TTF");
}
@font-face{
	font-family: bachdang;
	src: url("/EC/public/fonts/UVNBachDang_R.TTF");
}
@font-face{
	font-family: baihoc;
	src: url("/EC/public/fonts/UVNBaiHoc_R.ttf");
}