    header{
      background-color: none;
      position: relative;
      z-index: 10;
    }
    footer{
      z-index: -1;
      clear: both;
    }
    .MainMenu{
      padding: 0;
          list-style: none;
          
          border-radius: 25px;
    }
    .MainMenu li{
      display: inline-block;
          position: relative;
          line-height: 21px;
          text-align: left;
    }
    .MainMenu li a{
      display: block;
          padding: 8px 25px;
          color: #333;
          text-decoration: none;
    }
    .MainMenu li a:hover{
      color: black;
          
    }
    .MainMenu li ul.dropdown{
      width:250px;
      background: #f2f2f2;
      display:none;
      position: absolute;
      z-index: 999;
      left: 0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .MainMenu li:hover ul.dropdown{
      display: block;
    }
    .MainMenu li ul li{
      display: block;
    }
    #header{

      
    }
    #footer{
       border-top-style: solid;
      border-width: 1px;
        border-top-color:light-black;
    }
    #menu{
    
    }
    .title{
        font-family: "Brush Script MT", cursive;
        font-size: 40px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        margin: 10px 0;
        color: #23527c;
    }
    .log{
      background-color: blue;
      color: white;
    }
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.h1 {
  font-size: 36px;
  text-align: center;
  font-size: 5em;
  color: #404041;
}

.navbar-nav{
  height: 55px;
}
.navbar-nav>li{
  height: 100%;
}
.navbar-nav>li>.dropdown-menu {
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  text-align: center;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
  padding: 0;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 5px 0;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header a{
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}

.mega-dropdown-menu form {
  margin: 5px 0;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.keyword{
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 10px auto 0;
    background: #e8e8e8;
    text-align: center;
}
.keyword span{
  font-family: cursive;
}
.keyword a{
  font-family: cursive;
}
.contactLi{
  width:15%;
  height:100%; 
}
.search-button{
    height: 20px;
    width: 20px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;

}
.search-button:hover{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
#stickyalias {
  display: none;
  height: 10px;
}
#img-top{
  height: 30px;
  width: 30px;
}
.mar-top{
  margin :10px 0;
}
#log-button{
  float:right
}
#megamenu{
  z-index: 10;
}
#bttop{
  text-align:center;
  padding:5px;
  position:fixed;
  bottom:35px;
  right:10px;
  cursor:pointer;
  display:none;
  color:#fff;
  font-size:11px;
  font-weight:900
       }
  .footer-z{
    z-index: -1;
    background-color: rgb(249,249,249);
  }
  .omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}

.header-logo{
  margin: 15px 0;
}
.header-logo a{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  border: 1px solid rgb(195,4,82);
  color: rgb(236,16,106);
  margin: 0 5px;
  font-size: 20px;
}
.header-logo a:hover{
  background-color: rgb(236,16,106);
  color: white;
}
.header-logo a i{
  line-height: 40px;
}
.header-btn{
  text-align: right;
  padding: 0;
}
#btn-login{
  background-color: rgb(249,249,249);
  color: #777;
  border: none;
  margin-right: 15px;
  height: 50px;
}
#btn-login:hover{
  color: rgb(236,16,106);
}
#btn-login:focus{
  outline: none;
}
#btn-signup{
  height: 50px;
  background-color: rgb(236,16,106);
  border: rgb(195,4,82);
}
#btn-signup:focus{
  outline: none;
}
#btn-signup:hover{
  background-color: rgb(195,4,82);
}
.header-menu li{
  height: 50px;
  padding: 0 20px;
  text-align: center;
}
.header-menu li a{
  height: 90% !important;
  padding: 0 !important;
  line-height: 50px !important;
  ;
}
.header-menu li a:hover{
  color: rgb(236,16,106)!important;
  border-bottom: 3px solid rgb(236,16,106);
}
.header-menu li a:focus{
  outline: none;
}

#header-sanpham:hover{
  color: rgb(236,16,106);
}
.search-group{
  margin: 10px;
  width: 300px;
  float: right;
}
#nomargin{
  margin: 0;
  border: none;
  background-color: transparent;
}
.header-border{
  border-top: 1px solid rgb(230,230,230);
  border-bottom: 1px solid rgb(230,230,230);
  background-color: rgb(240,240,240);
  width: 100%;
}
.header-ava{
  width: 50px;
  margin: 10px 10px 0 0;
}
.header-logout:hover{
  text-decoration: none;
}
/*Dropdown avatar*/
.header-dropdown-ava li{
  list-style-type: none;
  display: inline-block;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: rgb(236,16,106);
  font-family: cursive;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*End Dropdown avatar*/

.footer-support{
  list-style-type: none;
  padding: 0;
}
.footer-support li a{
  text-decoration: none;
  font-family: cursive;
}
.footer-logo{
  list-style-type: none;
  padding: 0;
}
.footer-logo li{
  height: 40px;
  display: inline-block;
  padding: 0 5px 0 0;
}
.footer-logo li a{
  display: block;
  width: 40px;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  border: 1px solid rgb(195,4,82);
  color: rgb(236,16,106);
  font-size: 20px;
}
.footer-logo li a:hover{
  color: white;
  background-color: rgb(236,16,106);
}
.footer-logo li a i{
  line-height: 40px;
}
.footer-title{
  font-size: 28px;
  font-family: bale;
  font-weight: bold;
  color: #23527c;
}
.footer-contact-info{
  font-family: cursive;
}
.footer-contact-info i{
  font-size: 20px;
  margin-right: 10px;
  color: rgb(195,4,82)
}

.modal-button{
  width: 100%;
  height: 50px;
  display: block;
  font-size: 18px;
}

@media (max-width: 992px){
  .search-group{
    width: 200px;
  }
  .header-logo-name{
    font-size: 15px;
  }
}
@media (max-width: 767px){
  .header-btn{
    width: 95%;
    margin-bottom: 10px;
  }
  #btn-signup{
    width: 45%;
  }
  #btn-login{
    width: 45%;
  }
  .title{
    text-align: center;
  }
}


