.mybody{
	width: 80%;
	margin: auto;
}
.mypage{
	float: right;
	margin: 30px 0;
}
.return-no-product{
    font-family: bale;
    color: rgb(236,16,106);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 992px){
	.mybody{
		width: 100%;
	}
	.mypage{
		margin-right: 30px;
	}
}