.member-contain{
	padding: 10px;
}
.member-info{
	padding: 0 5px;
	text-align: left;
}
.member-info img{
	border-radius: 50%;
	border:1px solid rgb(108,53,50);
	cursor: pointer;
    width: 140px;
}
.member-info img:hover{
	border: 2px solid rgb(108,53,50);
}
.member-info .member-name{
    color: darkcyan;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0 5px 0;
}
.member-info .member-position{
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: rgb(208,32,55);
}
.member-info .member-quote{
    font-style: italic;
    font-family: cursive;
    font-size: 15px;
}
.nodisplay{
    display: none;
}