.product-info-feature{
    font-family: bale;
    color: #23527c;
    font-weight: bold;
}
.product-info-title{
    border-bottom: 2px solid rgb(195,4,82);
    font-family: banhmi;
    color: rgb(236,16,106)
}
.product-info-deatail{
    font-family: baihoc;
    font-size: 20px;
}
.product-info-pic{
	display: block;
	margin: auto;
	width: 650px;
	height: 350px;
}
