.product-cmt-question{
    font-family: bale;
    color: #23527c;
    font-weight: bold;
    font-size: 25px;
}
.product-cmt-addcomt{
	height: 40px;
}
#userComment{
	height: 100%;
}
#btn-addcomt{
	margin: 0;
	width: 100%;
}
.product-cmt-ava{
	padding: 0;
}
.product-cmt-ava img{
	width: 100%;
	border-radius: 50%;
	cursor: pointer;
}
.product-cmt-ava img:hover{
	box-shadow: 0 4px 8px 0 rgba(195,4,82,0.5), 0 6px 20px 0 rgba(195,4,82,0.5);
}
.myrow{
	margin: 20px 0;
}
.user-comt-content{
	clear: both;
	font-family: baihoc;
	font-size: 18px;
}
.product-cmt-name{
    font-family: bale;
    font-weight: bold;
    font-size: 20px;
    color: #23527c;
    cursor: pointer;
}
.product-cmt-time{
	font-size: 15px;
}
@media(max-width: 992px){
	#btn-addcomt{
		font-size: 12px;
	}
}
@media(max-width: 767px){
	#btn-addcomt{
		font-size: 14px;
		margin: 10px 0;
	}
}
@media (max-width: 400px){
	.product-cmt-time{
		display: none;
	}
}


/*li.ui-state-default{
    background:#fff0;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.btn,.form-control,.well {
    
    box-shadow:0 0 0;
}

.form-control {
    border-color:#d7d7d7;
}

.btn-primary {
    border-color:transparent;
}

.btn-primary, .list-group-item.active:focus {
    background-color:#4285f4;
} 

.btn-plus {
    background-color:#ffffff;
    border-width:1px;
    border-color:#dddddd;
    box-shadow:1px 1px 0 #999999;
    border-radius:3px;color:#666666;
    text-shadow:0 0 1px #bbbbbb;
}

.well,.panel {
    border-color:#d2d2d2;
    box-shadow:0 1px 0 #cfcfcf;
    border-radius:3px;
}

hr {
 border-color:#ececec;
}

button {
 outline: 0;
}

.btn span{
 color:#666666;
}

.list-group-item:first-child,.list-group-item:last-child {
 border-radius:0;
}


li.ui-state-default{
    background:#fff0;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.btn,.form-control,.well {
    border-radius:1px;
    box-shadow:0 0 0;
}

.form-control {
    border-color:#d7d7d7;
}

.btn-primary {
    border-color:transparent;
}

.btn-primary, .list-group-item.active:focus {
    background-color:#4285f4;
} 

.btn-plus {
    background-color:#ffffff;
    border-width:1px;
    border-color:#dddddd;
    box-shadow:1px 1px 0 #999999;
    border-radius:3px;color:#666666;
    text-shadow:0 0 1px #bbbbbb;
}

.well,.panel {
    border-color:#d2d2d2;
    box-shadow:0 1px 0 #cfcfcf;
    border-radius:3px;
}

hr {
 border-color:#ececec;
}

button {
 outline: 0;
}

.btn span{
 color:#666666;
}

.list-group-item:first-child,.list-group-item:last-child {
 border-radius:0;
}
*/

