.product-description .product-name{
	font-family: bale;
    color: #23527c;
    font-size: 30px;
}
.product-description .product-detail{
    font-family: baihoc;
    font-size: 17px;
}
.product-description .product-price{
    font-size: 30px;
    font-family: baihoc;
    color: rgb(236,16,106);
}
.product-description .product-time{

}
.product-description .product-time img{
	width: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.product-description .product-time iframe{
	vertical-align: middle;
}
.product-description .product-inline{
	display: inline-block;
}	
.product-description .product-new-price{
	height: 40px;
	padding-left: 10px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }
.carousel-indicators li{
	background: white;
}
.carousel-indicators .active{
	border: none;
	background: rgb(236,16,106);
}
.carousel-indicators{
	bottom: 0;
}
.product-end-winner{
    color: rgb(236,16,106);
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 767px){
	.product-description{
		margin-top: 30px;
	}
}