#button{
	padding: 0;
	border: none;
	background: none;
	float: right;
	color: rgb(236,16,106);
}
#form-save{
	text-align: right;
}
#save{
	width: 100%;
}
#profile-pic{
	cursor: pointer;
}
label img{
	width: 30px;
}
#change-pic{
    background: rgba(0,0,0,0.3);
    bottom: 130px;
    border-radius: 50%;
    position: relative;
    color: white;
}
#change-pic label{
	position: relative;
    top: 55px;
    font-size: 25px;
    cursor: pointer;
}
