    #autoSuggestionsList > li {
         background: none repeat scroll 0 0 #F3F3F3;
         border-bottom: 1px solid #E3E3E3;
         list-style: none outside none;
         padding: 3px 15px 3px 15px;
         text-align: left;
             position: relative;
    }
    #autoSuggestionsList > li a { color: #800000; }
    .auto_list {
         border: 1px solid #E3E3E3;
         border-radius: 5px 5px 5px 5px;
         position: absolute;
        top: 39px;
        z-index: 9999999;
         width: 100%;
        box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    }
    #searchimg{
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }